{
  "extends": ["taro/react"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "jsx-quotes": ["error", "prefer-double"],
    "import/first": "off",
    "quotes": ["error", "double"],
    "react/sort-comp": "off",
    "react/no-unused-state": "off",
    "@typescript-eslint/no-shadow": "off",
    "react-hooks/exhaustive-deps": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
