.swiper {
  width: 100%;
  height: 200px;
}

.info {
  width: 100%;
  height: calc(100% - 200px);
  display: flex;
  justify-content: center;
  position: relative;
}

.info-content {
  width: calc(100% - 30px);
  height: 100%;
  position: absolute;
  //   background-color: #fff;
}

.title-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 700;
  margin-top: 24px;
}

.price {
  color: #000000;
}

.desc {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: rgba(95, 54, 54, 0.48);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;

  margin-top: 20px;
}

.color-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-top: 27px;
}

.container {
  margin-top: 14px;
}

.color-style {
  display: inline-block;
  margin-right: 25px;
  width: 25px;
  height: 27px;
  border-radius: 27px;
}

.size-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-top: 35px;
}

.size-style {
  display: inline-block;
  margin-right: 19px;
  width: 38px;
  height: 42px;
  border-radius: 42px;
  background: #C0A286;
  box-shadow: 0px 1.5px 15px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  line-height: 42px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 47px;
  margin-top: 50px;
}

.btn-addcart {
  width: 191px;
  height: 100%;
  font-size: 18px;
  line-height: 21px;
  color: #C0A286;
}

.btn-buy {
  width: 135px;
  height: 100%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  line-height: 21px;
  color: #5F3636
}
