.title0 {
  top: 240px;  
  color: #FFFFFF;
  width: 70%;
}

.title1 {
  top: 0px;
  font-size: 76px;
}

.title2 {
  top: 100px;
  font-size: 66px;
}

.content {
  top: 670px;
  font-size: 38px;
  color: #FFFFFF;
  width: 70%;
}

.btn {
  position: absolute;
  bottom: 180px;
  width: 230px;
}